In [1]:
%load_ext sql
%sql postgresql://postgres:123@localhost/soccer

In [2]:
%%sql
-- Ülkelere göre ortalama gol sayıları(ülke isimleri,ortalama gol sayısı)
SELECT DISTINCT(name) AS "Country Name",
    (SELECT AVG(home_team_goal+away_team_goal) AS "Average Goal"
     FROM match AS m
     WHERE m.country_id = c.id)
FROM country AS c
ORDER BY "Average Goal"

 * postgresql://postgres:***@localhost/soccer
11 rows affected.

[('Poland', Decimal('2.4250000000000000')),
 ('France', Decimal('2.4430921052631579')),
 ('Portugal', Decimal('2.5346003898635478')),
 ('Italy', Decimal('2.6168379184620484')),
 ('Scotland', Decimal('2.6337719298245614')),
 ('England', Decimal('2.7105263157894737')),
 ('Spain', Decimal('2.7671052631578947')),
 ('Belgium', Decimal('2.8015046296296296')),
 ('Germany', Decimal('2.9015522875816993')),
 ('Switzerland', Decimal('2.9296765119549930')),
 ('Netherlands', Decimal('3.0808823529411765'))]

In [3]:
%%sql
-- Aynı sonucu veren sorgunun GROUP BY kullanılmış hali
SELECT
    c.name AS "Country Name",
    AVG(home_team_goal+away_team_goal) AS "Average Goal"
FROM match AS m
INNER JOIN country AS c
ON c.id = m.country_id
GROUP BY c.name
ORDER BY "Average Goal";

 * postgresql://postgres:***@localhost/soccer
11 rows affected.

[('Poland', Decimal('2.4250000000000000')),
 ('France', Decimal('2.4430921052631579')),
 ('Portugal', Decimal('2.5346003898635478')),
 ('Italy', Decimal('2.6168379184620484')),
 ('Scotland', Decimal('2.6337719298245614')),
 ('England', Decimal('2.7105263157894737')),
 ('Spain', Decimal('2.7671052631578947')),
 ('Belgium', Decimal('2.8015046296296296')),
 ('Germany', Decimal('2.9015522875816993')),
 ('Switzerland', Decimal('2.9296765119549930')),
 ('Netherlands', Decimal('3.0808823529411765'))]

In [4]:
%%sql
-- ülke ortalamasından 4 kat fazla gol atılan maçların ülke_idleri, tarihleri ve gol sayıları
SELECT 
    country_id,
    date,
    home_team_goal, 
    away_team_goal
FROM match AS m
WHERE 
    (home_team_goal + away_team_goal) >=
        (SELECT AVG((sub.home_team_goal + sub.away_team_goal) * 4)
         FROM match AS sub
         WHERE m.country_id = sub.country_id);

 * postgresql://postgres:***@localhost/soccer
3 rows affected.

[(4769, datetime.date(2009, 11, 8), 5, 5),
 (19694, datetime.date(2010, 5, 5), 6, 6),
 (21518, datetime.date(2015, 12, 20), 10, 2)]

In [5]:
%%sql
-- ülke ortalamasından 4 kat fazla gol atılan maçların ülke_isimleri, tarihleri ve gol sayıları
SELECT 
    (SELECT name FROM country AS c WHERE m.country_id=c.id),
    date,
    home_team_goal, 
    away_team_goal
FROM match AS m
WHERE 
    (home_team_goal + away_team_goal) >= 
        (SELECT AVG((sub.home_team_goal + sub.away_team_goal) * 4)
         FROM match AS sub
         WHERE m.country_id = sub.country_id);

 * postgresql://postgres:***@localhost/soccer
3 rows affected.

[('France', datetime.date(2009, 11, 8), 5, 5),
 ('Scotland', datetime.date(2010, 5, 5), 6, 6),
 ('Spain', datetime.date(2015, 12, 20), 10, 2)]

In [6]:
%%sql
-- Sezonlara göre en yüksek gol sayısı,
-- Bütün tablodaki maçlar arasından bir maçta atılan en fazla gol ve 
-- Şubat ayında oynanan maçlar arasından bir maçta atılan en fazla golün karşılaştırması.
SELECT
    season,
    MAX(home_team_goal + away_team_goal) AS max_goals,
   (SELECT MAX(home_team_goal + away_team_goal) FROM match) AS overall_max_goals,
   (SELECT MAX(home_team_goal + away_team_goal) 
    FROM match
    WHERE id IN (
          SELECT id FROM match WHERE EXTRACT(MONTH FROM date) = 02)) AS february_max_goals
FROM match
GROUP BY season;

 * postgresql://postgres:***@localhost/soccer
8 rows affected.

[('2012/2013', 11, 12, 9),
 ('2010/2011', 10, 12, 9),
 ('2013/2014', 10, 12, 9),
 ('2015/2016', 12, 12, 9),
 ('2008/2009', 9, 12, 9),
 ('2014/2015', 10, 12, 9),
 ('2011/2012', 10, 12, 9),
 ('2009/2010', 12, 12, 9)]

In [7]:
%%sql
-- Sezon ve ülkelere göre, herhangi bir tarafın 4 golden fazla attığı maç sayısı
SELECT
    country_id,
    season,
    COUNT(id) AS matches
FROM (
    SELECT
        country_id,
        season,
        id
    FROM match
    WHERE home_team_goal > 4 OR away_team_goal > 4)
    AS subquery
GROUP BY country_id, season
LIMIT 10;

 * postgresql://postgres:***@localhost/soccer
10 rows affected.

[(24558, '2009/2010', 12),
 (21518, '2008/2009', 16),
 (7809, '2011/2012', 14),
 (4769, '2011/2012', 6),
 (10257, '2008/2009', 9),
 (19694, '2012/2013', 5),
 (1729, '2010/2011', 13),
 (13274, '2011/2012', 24),
 (17642, '2014/2015', 12),
 (4769, '2015/2016', 11)]

In [8]:
%%sql
-- Ülkelere göre ortalama bir sezonda bir tarafın 4 golden fazla attığı maç sayısı
SELECT
    c.name AS country,
    AVG(outer_s.matches) AS avg_seasonal_high_scores
FROM country AS c
LEFT JOIN (
  SELECT country_id, season,
         COUNT(id) AS matches
  FROM (
    SELECT country_id, season, id
    FROM match
    WHERE home_team_goal >= 5 OR away_team_goal >= 5) AS inner_s
  GROUP BY country_id, season) AS outer_s
ON c.id = outer_s.country_id
GROUP BY country;

 * postgresql://postgres:***@localhost/soccer
11 rows affected.

[('Belgium', Decimal('9.5714285714285714')),
 ('England', Decimal('14.5000000000000000')),
 ('France', Decimal('8.0000000000000000')),
 ('Germany', Decimal('13.7500000000000000')),
 ('Italy', Decimal('8.5000000000000000')),
 ('Netherlands', Decimal('20.1250000000000000')),
 ('Poland', Decimal('5.8571428571428571')),
 ('Portugal', Decimal('8.6250000000000000')),
 ('Scotland', Decimal('7.1250000000000000')),
 ('Spain', Decimal('19.1250000000000000')),
 ('Switzerland', Decimal('8.0000000000000000'))]

In [9]:
%%sql
-- Tarafların attığı gol sayısına göre maç sonucunu gösterdiğimiz yeni bir alan
SELECT
    home_team_api_id,
    away_team_api_id,
    home_team_goal,
    away_team_goal,
    CASE WHEN home_team_goal > away_team_goal THEN 'Home Team Win'
    WHEN away_team_goal > home_team_goal THEN 'Away Team Win'
    ELSE 'Tie' END AS result
FROM match
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[(9987, 9993, 1, 1, 'Tie'),
 (10000, 9994, 0, 0, 'Tie'),
 (9984, 8635, 0, 3, 'Away Team Win'),
 (9991, 9998, 5, 0, 'Home Team Win'),
 (7947, 9985, 1, 3, 'Away Team Win')]

In [10]:
%%sql
-- Yukarıdaki sorguyu bir adım ileri götürelim ve takımların idsi yerine isimlerini çekelim.
SELECT
    t.team_long_name AS "Home Team",
    t2.team_long_name AS "Away Team",
    home_team_goal,
    away_team_goal,
    CASE WHEN home_team_goal > away_team_goal THEN 'Home Team Win'
    WHEN away_team_goal > home_team_goal THEN 'Away Team Win'
    ELSE 'Tie' END AS result
FROM match AS m
LEFT JOIN team AS t
ON t.team_api_id = m.home_team_api_id
LEFT JOIN team AS t2
ON t2.team_api_id = m.away_team_api_id
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[('KRC Genk', 'Beerschot AC', 1, 1, 'Tie'),
 ('SV Zulte-Waregem', 'Sporting Lokeren', 0, 0, 'Tie'),
 ('KSV Cercle Brugge', 'RSC Anderlecht', 0, 3, 'Away Team Win'),
 ('KAA Gent', 'RAEC Mons', 5, 0, 'Home Team Win'),
 ('FCV Dender EH', 'Standard de Liège', 1, 3, 'Away Team Win')]

In [11]:
%%sql
-- Yukarıdaki sorguyu bir adım daha ileri götürelim ve kazanan hakkında daha detaylı bilgi verelim.
SELECT
    t.team_long_name AS "Home Team",
    t2.team_long_name AS "Away Team",
    home_team_goal,
    away_team_goal,
    CASE WHEN home_team_goal > away_team_goal THEN t.team_long_name
    WHEN away_team_goal > home_team_goal THEN t2.team_long_name
    ELSE 'Tie' END AS result
FROM match AS m
LEFT JOIN team AS t
ON t.team_api_id = m.home_team_api_id
LEFT JOIN team AS t2
ON t2.team_api_id = m.away_team_api_id
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[('KRC Genk', 'Beerschot AC', 1, 1, 'Tie'),
 ('SV Zulte-Waregem', 'Sporting Lokeren', 0, 0, 'Tie'),
 ('KSV Cercle Brugge', 'RSC Anderlecht', 0, 3, 'RSC Anderlecht'),
 ('KAA Gent', 'RAEC Mons', 5, 0, 'KAA Gent'),
 ('FCV Dender EH', 'Standard de Liège', 1, 3, 'Standard de Liège')]

In [12]:
%%sql
-- Manchester United'ın kendi evinde oynadığı maçların sonuçları ve rakipleri
SELECT 
    date,
    team_long_name AS "Away team name",
    CASE WHEN home_team_goal > away_team_goal THEN 'M.United Win'
    WHEN away_team_goal > home_team_goal THEN 'M.United Loss'
    ELSE 'Tie' END AS outcome
FROM match AS m
LEFT JOIN team AS t
ON m.away_team_api_id = t.team_api_id
WHERE home_team_api_id = 
            (SELECT team_api_id FROM team WHERE team_long_name = 'Manchester United')
LIMIT 10;

 * postgresql://postgres:***@localhost/soccer
10 rows affected.

[(datetime.date(2008, 8, 17), 'Newcastle United', 'Tie'),
 (datetime.date(2008, 10, 29), 'West Ham United', 'M.United Win'),
 (datetime.date(2008, 11, 1), 'Hull City', 'M.United Win'),
 (datetime.date(2008, 11, 15), 'Stoke City', 'M.United Win'),
 (datetime.date(2008, 12, 6), 'Sunderland', 'M.United Win'),
 (datetime.date(2009, 1, 14), 'Wigan Athletic', 'M.United Win'),
 (datetime.date(2008, 12, 29), 'Middlesbrough', 'M.United Win'),
 (datetime.date(2009, 1, 11), 'Chelsea', 'M.United Win'),
 (datetime.date(2009, 1, 31), 'Everton', 'M.United Win'),
 (datetime.date(2009, 2, 21), 'Blackburn Rovers', 'M.United Win')]

In [13]:
%%sql
-- Yukarıda ki sorguyu bir adım ileri götürelim ve Manchester United'ın sadece ev takımı olduğu durumları değil
-- deplasman takımı olarak oynadığı maçlarıda gösterelim.
SELECT
    t.team_long_name AS "Home Team",
    t2.team_long_name AS "Away Team",
    home_team_goal,
    away_team_goal,
    CASE WHEN home_team_goal > away_team_goal THEN t.team_long_name
    WHEN away_team_goal > home_team_goal THEN t2.team_long_name
    ELSE 'Tie' END AS result
FROM match AS m
LEFT JOIN team AS t
ON t.team_api_id = m.home_team_api_id
LEFT JOIN team AS t2
ON t2.team_api_id = m.away_team_api_id
WHERE home_team_api_id = 10260 OR away_team_api_id = 10260
LIMIT 10;

 * postgresql://postgres:***@localhost/soccer
10 rows affected.

[('Manchester United', 'Newcastle United', 1, 1, 'Tie'),
 ('Manchester United', 'West Ham United', 2, 0, 'Manchester United'),
 ('Manchester United', 'Hull City', 4, 3, 'Manchester United'),
 ('Arsenal', 'Manchester United', 2, 1, 'Arsenal'),
 ('Manchester United', 'Stoke City', 5, 0, 'Manchester United'),
 ('Aston Villa', 'Manchester United', 0, 0, 'Tie'),
 ('Manchester City', 'Manchester United', 0, 1, 'Manchester United'),
 ('Manchester United', 'Sunderland', 1, 0, 'Manchester United'),
 ('Tottenham Hotspur', 'Manchester United', 0, 0, 'Tie'),
 ('Manchester United', 'Wigan Athletic', 1, 0, 'Manchester United')]