In [1]:
%load_ext sql
%sql postgresql://postgres:123@localhost/soccer

In [4]:
%%sql
WITH match_most_goals AS(
    SELECT 
        home_team_api_id AS home_team_id,
        away_team_api_id AS away_team_id,
        COUNT(*) AS match_count,
        SUM(away_team_goal+home_team_goal) AS total_goal,
        ROUND(AVG(away_team_goal+home_team_goal),2) AS goal_per_match
    FROM match
    GROUP BY home_team_id,away_team_id
    HAVING COUNT(*)>1
    ORDER BY goal_per_match DESC
)



SELECT 
    t1.team_long_name,
    t2.team_long_name,
    m.match_count,
    m.total_goal,
    m.goal_per_match
FROM match_most_goals AS m
LEFT JOIN team AS t1
ON m.home_team_id = t1.team_api_id
LEFT JOIN team AS t2
ON m.away_team_id = t2.team_api_id
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[('Real Madrid CF', 'Rayo Vallecano', 5, 33, Decimal('6.60')),
 ('Lech Poznań', 'Zawisza Bydgoszcz', 2, 13, Decimal('6.50')),
 ('Norwich City', 'Liverpool', 4, 24, Decimal('6.00')),
 ('Valenciennes FC', 'SC Bastia', 2, 12, Decimal('6.00')),
 ('FC Zürich', 'Lugano', 2, 12, Decimal('6.00'))]

In [2]:
%%sql
-- CTE 1
WITH home AS(
    SELECT m.id, t.team_long_name AS hometeam
    FROM match AS m
    LEFT JOIN team AS t 
    ON m.home_team_api_id = t.team_api_id)

SELECT *
FROM home
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[(1, 'KRC Genk'),
 (2, 'SV Zulte-Waregem'),
 (3, 'KSV Cercle Brugge'),
 (4, 'KAA Gent'),
 (5, 'FCV Dender EH')]

In [3]:
%%sql
-- CTE 2
WITH home AS (
  SELECT m.id, m.date, 
         t.team_long_name AS hometeam, m.home_team_goal AS home_goal
  FROM match AS m
  LEFT JOIN team AS t 
  ON m.home_team_api_id = t.team_api_id),
away AS (
  SELECT m.id, m.date, 
         t.team_long_name AS awayteam, m.away_team_goal AS away_goal
  FROM match AS m
  LEFT JOIN team AS t 
  ON m.away_team_api_id = t.team_api_id)

SELECT 
    home.date,
    home.hometeam,
    away.awayteam,
    home.home_goal,
    away.away_goal
FROM home
INNER JOIN away
ON home.id = away.id
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[(datetime.date(2008, 8, 17), 'KRC Genk', 'Beerschot AC', 1, 1),
 (datetime.date(2008, 8, 16), 'SV Zulte-Waregem', 'Sporting Lokeren', 0, 0),
 (datetime.date(2008, 8, 16), 'KSV Cercle Brugge', 'RSC Anderlecht', 0, 3),
 (datetime.date(2008, 8, 17), 'KAA Gent', 'RAEC Mons', 5, 0),
 (datetime.date(2008, 8, 16), 'FCV Dender EH', 'Standard de Liège', 1, 3)]

In [4]:
%%sql
-- CTE 3
WITH match_list AS (
    SELECT 
        country_id, 
        id
    FROM match
    WHERE (home_team_goal + away_team_goal) >= 10)

SELECT
    l.name AS league,
    COUNT(match_list.id) AS matches
FROM league AS l
LEFT JOIN match_list ON l.id = match_list.country_id
GROUP BY l.name;

 * postgresql://postgres:***@localhost/soccer
11 rows affected.

[('Netherlands Eredivisie', 2),
 ('Scotland Premier League', 1),
 ('Portugal Liga ZON Sagres', 0),
 ('Poland Ekstraklasa', 0),
 ('Germany 1. Bundesliga', 1),
 ('England Premier League', 4),
 ('Italy Serie A', 0),
 ('Switzerland Super League', 0),
 ('Spain LIGA BBVA', 5),
 ('France Ligue 1', 1),
 ('Belgium Jupiler League', 0)]

In [5]:
%%sql
-- CTE 4
WITH match_list AS (
    SELECT 
        country_id,
       (home_team_goal + away_team_goal) AS goals
    FROM match
    WHERE id IN (
       SELECT id
       FROM match
       WHERE season = '2013/2014' AND EXTRACT(MONTH FROM date) = 08))

SELECT 
    l.name AS league_name,
    AVG(match_list.goals) AS avg_goal
FROM league AS l
LEFT JOIN match_list ON l.id = match_list.country_id
GROUP BY l.name
ORDER BY avg_goal;

 * postgresql://postgres:***@localhost/soccer
11 rows affected.

[('Switzerland Super League', Decimal('1.9375000000000000')),
 ('England Premier League', Decimal('2.0000000000000000')),
 ('France Ligue 1', Decimal('2.0270270270270270')),
 ('Scotland Premier League', Decimal('2.1379310344827586')),
 ('Poland Ekstraklasa', Decimal('2.3103448275862069')),
 ('Italy Serie A', Decimal('2.7500000000000000')),
 ('Spain LIGA BBVA', Decimal('2.9200000000000000')),
 ('Portugal Liga ZON Sagres', Decimal('3.0000000000000000')),
 ('Germany 1. Bundesliga', Decimal('3.2352941176470588')),
 ('Netherlands Eredivisie', Decimal('3.4146341463414634')),
 ('Belgium Jupiler League', None)]

In [7]:
%%sql
WITH match_most_goals AS(
    SELECT 
        country_id,
        home_team_api_id AS home_team_id,
        away_team_api_id AS away_team_id,
        COUNT(*) AS match_count,
        SUM(away_team_goal+home_team_goal) AS total_goal,
        ROUND(AVG(away_team_goal+home_team_goal),2) AS goal_per_match
    FROM match
    GROUP BY home_team_id,away_team_id,country_id
    HAVING COUNT(*)>1
    ORDER BY goal_per_match DESC
),
match_most_goals2 AS(
    SELECT
        m.country_id,
        t1.team_long_name AS home_team,
        t2.team_long_name AS away_team,
        m.match_count,
        m.total_goal,
        m.goal_per_match
    FROM match_most_goals AS m
    LEFT JOIN team AS t1
    ON m.home_team_id = t1.team_api_id
    LEFT JOIN team AS t2
    ON m.away_team_id = t2.team_api_id
)



SELECT
    c.name AS country,
    home_team,
    away_team,
    m.match_count,
    m.total_goal,
    m.goal_per_match
FROM match_most_goals2 AS m
LEFT JOIN country AS c
ON m.country_id = c.id
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[('Spain', 'Real Madrid CF', 'Rayo Vallecano', 5, 33, Decimal('6.60')),
 ('Poland', 'Lech Poznań', 'Zawisza Bydgoszcz', 2, 13, Decimal('6.50')),
 ('Switzerland', 'FC Zürich', 'Lugano', 2, 12, Decimal('6.00')),
 ('England', 'Norwich City', 'Liverpool', 4, 24, Decimal('6.00')),
 ('France', 'Valenciennes FC', 'SC Bastia', 2, 12, Decimal('6.00'))]