In [1]:
%load_ext sql
%sql postgresql://postgres:123@localhost/soccer

## Tablo

In [2]:
%%sql

SELECT
    * FROM match
    LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[(1, 1, 1, '2008/2009', 1, datetime.date(2008, 8, 17), 492473, 9987, 9993, 1, 1, None, None, None, None, None, None, None, None),
 (2, 1, 1, '2008/2009', 1, datetime.date(2008, 8, 16), 492474, 10000, 9994, 0, 0, None, None, None, None, None, None, None, None),
 (3, 1, 1, '2008/2009', 1, datetime.date(2008, 8, 16), 492475, 9984, 8635, 0, 3, None, None, None, None, None, None, None, None),
 (4, 1, 1, '2008/2009', 1, datetime.date(2008, 8, 17), 492476, 9991, 9998, 5, 0, None, None, None, None, None, None, None, None),
 (5, 1, 1, '2008/2009', 1, datetime.date(2008, 8, 16), 492477, 7947, 9985, 1, 3, None, None, None, None, None, None, None, None)]

In [3]:
%%sql
--- toplam maç sayısı
SELECT
    COUNT(*) AS Count
    FROM match;

 * postgresql://postgres:***@localhost/soccer
1 rows affected.

[(25979,)]

In [4]:
%%sql
--- date alanındaki kayıt sayısı (boş olmayan)
SELECT
    COUNT(date) AS Count
    FROM match ;

 * postgresql://postgres:***@localhost/soccer
1 rows affected.

[(25979,)]

In [5]:
%%sql
--- date alanındaki boş kayıt sayısı.
SELECT
    COUNT(*) AS Count
    FROM match 
    WHERE date IS NULL;

 * postgresql://postgres:***@localhost/soccer
1 rows affected.

[(0,)]

In [6]:
%%sql
--- bir ev takımının attığı en fazla gol
SELECT
    MAX(home_team_goal)
    FROM match;

 * postgresql://postgres:***@localhost/soccer
1 rows affected.

[(10,)]

In [7]:
%%sql 
--- 2008/2009 sezonunda deplasman takımlarının attığı toplam gol sayısı
SELECT
    SUM(away_team_goal) AS "Total away team goal in 2008/2009"
    FROM match
    WHERE season='2008/2009';

 * postgresql://postgres:***@localhost/soccer
1 rows affected.

[(3665,)]

In [8]:
%%sql 
--- 2008/2009 sezonunda atılan toplam gol sayısı
SELECT
    SUM(home_team_goal+away_team_goal) AS "Total goal in 2008/2009"
    FROM match
    WHERE season='2008/2009';

 * postgresql://postgres:***@localhost/soccer
1 rows affected.

[(8672,)]

In [9]:
%%sql 
--- 2008/2009 sezonunda ortalama bir maçta atılan gol sayısı
SELECT
    AVG(away_team_goal) AS "Average away team goal in 2008/2009"
    FROM match
    WHERE season='2008/2009';

 * postgresql://postgres:***@localhost/soccer
1 rows affected.

[(Decimal('1.1019242333132892'),)]

In [10]:
%%sql
--- player tablosunda ilk 5 kaydın isim(büyük harflerle),boy ve ağırlık alanları
SELECT 
    UPPER(player_name) AS "Player Name",
    height,
    weight
    FROM player
    LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[('AARON APPINDANGOYE', 182.88, 187),
 ('AARON CRESSWELL', 170.18, 146),
 ('AARON DORAN', 170.18, 163),
 ('AARON GALINDO', 182.88, 198),
 ('AARON HUGHES', 182.88, 154)]

In [11]:
%%sql
--- sezonlara göre toplam gol sayıları
SELECT
    season AS "Season",
    SUM(home_team_goal) AS "Total home goal",
    SUM(away_team_goal) AS "Total away goal",
    SUM(home_team_goal+away_team_goal) AS "Total goal"
    FROM match
    GROUP BY season
    ORDER BY season;

 * postgresql://postgres:***@localhost/soccer
8 rows affected.

[('2008/2009', 5007, 3665, 8672),
 ('2009/2010', 4978, 3654, 8632),
 ('2010/2011', 5048, 3701, 8749),
 ('2011/2012', 5064, 3683, 8747),
 ('2012/2013', 5053, 3986, 9039),
 ('2013/2014', 4787, 3602, 8389),
 ('2014/2015', 5055, 3842, 8897),
 ('2015/2016', 5135, 4027, 9162)]

In [12]:
%%sql
--- Hatalı 
SELECT
    season AS "Season",
    SUM(home_team_goal) AS "Total home goal",
    SUM(away_team_goal) AS "Total away goal",
    SUM(home_team_goal+away_team_goal) AS "Total goal"
    FROM match
    WHERE SUM(home_team_goal+away_team_goal) > 9000
    GROUP BY season
    ORDER BY season;

 * postgresql://postgres:***@localhost/soccer
(psycopg2.errors.GroupingError) aggregate functions are not allowed in WHERE
LINE 8:     WHERE SUM(home_team_goal+away_team_goal) > 9000
                  ^

[SQL: --- Hatalı
SELECT
    season AS "Season",
    SUM(home_team_goal) AS "Total home goal",
    SUM(away_team_goal) AS "Total away goal",
    SUM(home_team_goal+away_team_goal) AS "Total goal"
    FROM match
    WHERE SUM(home_team_goal+away_team_goal) > 9000
    GROUP BY season
    ORDER BY season;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [13]:
%%sql
--- toplam 9000den fazla gol atılan,
--- 3300den fazla maç oynanan sezonların ev,deplasman ve toplam gol sayıları
SELECT
    season AS "Season",
    SUM(home_team_goal) AS "Total home goal",
    SUM(away_team_goal) AS "Total away goal",
    SUM(home_team_goal+away_team_goal) AS "Total goal"
    FROM match
    GROUP BY season
    HAVING SUM(home_team_goal+away_team_goal)>8800 AND COUNT(*)>3300
    ORDER BY season;

 * postgresql://postgres:***@localhost/soccer
2 rows affected.

[('2014/2015', 5055, 3842, 8897), ('2015/2016', 5135, 4027, 9162)]