In [1]:
%load_ext sql
%sql postgresql://postgres:123@localhost/soccer

In [2]:
%%sql
-- En çok gol atılan maçlar rank ile sıralandı.
SELECT
    date,
    (home_team_goal+away_team_goal) AS "Total Goal",
    RANK() OVER(ORDER BY home_team_goal+away_team_goal DESC)
FROM match
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[(datetime.date(2015, 12, 20), 12, 1),
 (datetime.date(2010, 5, 5), 12, 1),
 (datetime.date(2013, 3, 30), 11, 3),
 (datetime.date(2009, 11, 8), 10, 4),
 (datetime.date(2011, 8, 28), 10, 4)]

In [3]:
%%sql
-- Rank ile takımlar attıkları toplam gol sayısına göre sıralandı.
WITH home AS(
    SELECT 
        home_team_api_id AS team_id,
        SUM(home_team_goal) AS total_home_goal
    FROM match
    GROUP BY team_id
),
away AS(
    SELECT 
        away_team_api_id AS team_id,
        SUM(away_team_goal) AS total_away_goal
    FROM match
    GROUP BY team_id
)

SELECT
    t.team_long_name,
    SUM(h.total_home_goal+a.total_away_goal) AS total_goal,
    RANK() OVER(ORDER BY SUM(h.total_home_goal+a.total_away_goal) DESC) AS rank
FROM home AS h
LEFT JOIN away AS a
USING(team_id)
LEFT JOIN team AS t
ON t.team_api_id = a.team_id
GROUP BY t.team_long_name
LIMIT 10;

 * postgresql://postgres:***@localhost/soccer
10 rows affected.

[('FC Barcelona', Decimal('849'), 1),
 ('Real Madrid CF', Decimal('843'), 2),
 ('Celtic', Decimal('695'), 3),
 ('FC Bayern Munich', Decimal('653'), 4),
 ('PSV', Decimal('652'), 5),
 ('Ajax', Decimal('647'), 6),
 ('FC Basel', Decimal('619'), 7),
 ('Manchester City', Decimal('606'), 8),
 ('Chelsea', Decimal('583'), 9),
 ('Manchester United', Decimal('582'), 10)]

In [4]:
%%sql
-- En çok gol atılan maçlar dense rank ile sıralandı.
SELECT
    date,
    (home_team_goal+away_team_goal) AS "Total Goal",
    DENSE_RANK() OVER(ORDER BY home_team_goal+away_team_goal DESC)
FROM match
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[(datetime.date(2015, 12, 20), 12, 1),
 (datetime.date(2010, 5, 5), 12, 1),
 (datetime.date(2013, 3, 30), 11, 2),
 (datetime.date(2009, 11, 8), 10, 3),
 (datetime.date(2011, 8, 28), 10, 3)]

In [5]:
%%sql
-- En çok gol atılan maçlar row number ile sıralandı.
SELECT
    date,
    (home_team_goal+away_team_goal) AS "Total Goal",
    DENSE_RANK() OVER(ORDER BY home_team_goal+away_team_goal DESC)
FROM match
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[(datetime.date(2015, 12, 20), 12, 1),
 (datetime.date(2010, 5, 5), 12, 1),
 (datetime.date(2013, 3, 30), 11, 2),
 (datetime.date(2009, 11, 8), 10, 3),
 (datetime.date(2011, 8, 28), 10, 3)]

In [6]:
%%sql
-- ülkelere göre takımlara sıra numarası atama
WITH distinct_match_teams AS (
    SELECT
        DISTINCT country_id,
        home_team_api_id
    FROM match
)


SELECT
    c.name AS country,
    team_long_name,
    ROW_NUMBER() OVER(PARTITION BY c.name ORDER BY team_long_name)
FROM team AS t
INNER JOIN distinct_match_teams AS m
ON t.team_api_id = m.home_team_api_id -- OR t.team_api_id = m.away_team_api_id;
INNER JOIN country AS c
ON c.id = m.country_id
LIMIT 30;

 * postgresql://postgres:***@localhost/soccer
30 rows affected.

[('Belgium', 'Beerschot AC', 1),
 ('Belgium', 'Club Brugge KV', 2),
 ('Belgium', 'FCV Dender EH', 3),
 ('Belgium', 'KAA Gent', 4),
 ('Belgium', 'KAS Eupen', 5),
 ('Belgium', 'KRC Genk', 6),
 ('Belgium', 'KSV Cercle Brugge', 7),
 ('Belgium', 'KSV Roeselare', 8),
 ('Belgium', 'KV Kortrijk', 9),
 ('Belgium', 'KV Mechelen', 10),
 ('Belgium', 'KV Oostende', 11),
 ('Belgium', 'KVC Westerlo', 12),
 ('Belgium', 'Lierse SK', 13),
 ('Belgium', 'Oud-Heverlee Leuven', 14),
 ('Belgium', 'RAEC Mons', 15),
 ('Belgium', 'Royal Excel Mouscron', 16),
 ('Belgium', 'Royal Excel Mouscron', 17),
 ('Belgium', 'RSC Anderlecht', 18),
 ('Belgium', 'Sint-Truidense VV', 19),
 ('Belgium', 'Sporting Charleroi', 20),
 ('Belgium', 'Sporting Lokeren', 21),
 ('Belgium', 'Standard de Liège', 22),
 ('Belgium', 'SV Zulte-Waregem', 23),
 ('Belgium', 'Tubize', 24),
 ('Belgium', 'Waasland-Beveren', 25),
 ('England', 'Arsenal', 1),
 ('England', 'Aston Villa', 2),
 ('England', 'Birmingham City', 3),
 ('England', 'Blackburn Rovers', 4),
 ('England', 'Blackpool', 5)]

In [7]:
%%sql
-- Lag 1
SELECT
    name,
    LAG(name,1) OVER() AS lagged
FROM country;

 * postgresql://postgres:***@localhost/soccer
11 rows affected.

[('Belgium', None),
 ('England', 'Belgium'),
 ('France', 'England'),
 ('Germany', 'France'),
 ('Italy', 'Germany'),
 ('Netherlands', 'Italy'),
 ('Poland', 'Netherlands'),
 ('Portugal', 'Poland'),
 ('Scotland', 'Portugal'),
 ('Spain', 'Scotland'),
 ('Switzerland', 'Spain')]

In [8]:
%%sql
--Sezonlara göre en çok gol atan ülke ve gol sayısı
WITH season_goals AS(
    SELECT
        season,
        country_id,
        SUM(home_team_goal+away_team_goal) AS total_goal
    FROM match
    GROUP BY country_id,season
    ORDER BY season,country_id
),
season_max AS (
    SELECT 
        season,
        MAX(total_goal) AS max_goal
    FROM season_goals
    GROUP BY season
)

SELECT
    s.season,
    max_goal,
    c.name
FROM season_max AS s
LEFT JOIN season_goals AS s2
ON s.season = s2.season AND s2.total_goal = s.max_goal
LEFT JOIN country AS c
ON c.id = s2.country_id;

 * postgresql://postgres:***@localhost/soccer
8 rows affected.

[('2008/2009', 1101, 'Spain'),
 ('2009/2010', 1053, 'England'),
 ('2010/2011', 1063, 'England'),
 ('2011/2012', 1066, 'England'),
 ('2012/2013', 1091, 'Spain'),
 ('2013/2014', 1052, 'England'),
 ('2014/2015', 1018, 'Italy'),
 ('2015/2016', 1043, 'Spain')]

In [9]:
%%sql
-- Önceki sorguya üst üste 2 sezon en çok gol atan aynı ülkeleri bulmak için lag eklendi.
WITH season_goals AS(
    SELECT
        season,
        country_id,
        SUM(home_team_goal+away_team_goal) AS total_goal
    FROM match
    GROUP BY country_id,season
    ORDER BY season,country_id
),
season_max AS (
    SELECT 
        season,
        MAX(total_goal) AS max_goal
    FROM season_goals
    GROUP BY season
)

SELECT
    s.season,
    s.max_goal,
    c.name AS country,
    LAG(c.name,1) OVER() AS prev_season,
    CASE WHEN c.name = LAG(c.name,1) OVER() THEN 'Two Year Winner!!'
    ELSE NULL END AS is_two_year_winner
    
FROM season_max AS s
LEFT JOIN season_goals AS s2
ON s.season = s2.season AND s2.total_goal = s.max_goal
LEFT JOIN country AS c
ON c.id = s2.country_id;

 * postgresql://postgres:***@localhost/soccer
8 rows affected.

[('2008/2009', 1101, 'Spain', None, None),
 ('2009/2010', 1053, 'England', 'Spain', None),
 ('2010/2011', 1063, 'England', 'England', 'Two Year Winner!!'),
 ('2011/2012', 1066, 'England', 'England', 'Two Year Winner!!'),
 ('2012/2013', 1091, 'Spain', 'England', None),
 ('2013/2014', 1052, 'England', 'Spain', None),
 ('2014/2015', 1018, 'Italy', 'England', None),
 ('2015/2016', 1043, 'Spain', 'Italy', None)]

In [10]:
%%sql
-- Lag ile tarihe göre önceki maçın kazananları. 
WITH matches AS(
SELECT 
    date,
    home_team_api_id AS home_id,
    away_team_api_id AS away_id,
    home_team_goal AS home_goal,
    away_team_goal AS away_goal,
    CASE WHEN home_team_goal > away_team_goal THEN home_team_api_id
    WHEN home_team_goal < away_team_goal THEN away_team_api_id
    ELSE -1 END AS winner
FROM match
WHERE country_id = (SELECT id FROM country WHERE name = 'Poland')
)


SELECT 
    date,
    home_id,
    away_id,
    home_goal,
    away_goal,
    winner,
    LAG(winner,1) OVER() AS prev_winner
FROM matches
LIMIT 5;

 * postgresql://postgres:***@localhost/soccer
5 rows affected.

[(datetime.date(2010, 5, 8), 8028, 8025, 2, 2, -1, None),
 (datetime.date(2010, 5, 8), 8021, 8242, 2, 1, 8021, -1),
 (datetime.date(2010, 5, 7), 1957, 1601, 1, 0, 1957, 8021),
 (datetime.date(2010, 5, 11), 2183, 8673, 1, 0, 2183, 1957),
 (datetime.date(2010, 5, 11), 8242, 8025, 2, 4, 8025, 2183)]

In [11]:
%%sql

SELECT
    team_api_id,
    team_long_name,
    FIRST_VALUE(team_long_name) OVER()
FROM team
LIMIT 10;

 * postgresql://postgres:***@localhost/soccer
10 rows affected.

[(9987, 'KRC Genk', 'KRC Genk'),
 (9993, 'Beerschot AC', 'KRC Genk'),
 (10000, 'SV Zulte-Waregem', 'KRC Genk'),
 (9994, 'Sporting Lokeren', 'KRC Genk'),
 (9984, 'KSV Cercle Brugge', 'KRC Genk'),
 (8635, 'RSC Anderlecht', 'KRC Genk'),
 (9991, 'KAA Gent', 'KRC Genk'),
 (9998, 'RAEC Mons', 'KRC Genk'),
 (7947, 'FCV Dender EH', 'KRC Genk'),
 (9985, 'Standard de Liège', 'KRC Genk')]

In [12]:
%%sql

SELECT
    team_api_id,
    team_long_name,
    FIRST_VALUE(team_long_name) OVER(ORDER BY team_api_id)
FROM team
LIMIT 10;

 * postgresql://postgres:***@localhost/soccer
10 rows affected.

[(1601, 'Ruch Chorzów', 'Ruch Chorzów'),
 (1773, 'Oud-Heverlee Leuven', 'Ruch Chorzów'),
 (1957, 'Jagiellonia Białystok', 'Ruch Chorzów'),
 (2033, 'S.C. Olhanense', 'Ruch Chorzów'),
 (2182, 'Lech Poznań', 'Ruch Chorzów'),
 (2183, 'P. Warszawa', 'Ruch Chorzów'),
 (2186, 'Cracovia', 'Ruch Chorzów'),
 (4049, 'Tubize', 'Ruch Chorzów'),
 (4064, 'Feirense', 'Ruch Chorzów'),
 (4087, 'Évian Thonon Gaillard FC', 'Ruch Chorzów')]

In [13]:
%%sql
-- Pencere fonksiyonu ile oluşturulan yeni alandaki değerler varsayılan çerçeve nedeniyle aşağıdaki sonucu veriyor.
-- Gerçekten son değeri(Royal Excel Mouscron) vermesini için sonraki hücredeki gibi ekleme yapılmalı.
SELECT
    team_api_id,
    team_long_name,
    LAST_VALUE(team_long_name) OVER(ORDER BY team_api_id)
FROM team
LIMIT 10;

 * postgresql://postgres:***@localhost/soccer
10 rows affected.

[(1601, 'Ruch Chorzów', 'Ruch Chorzów'),
 (1773, 'Oud-Heverlee Leuven', 'Oud-Heverlee Leuven'),
 (1957, 'Jagiellonia Białystok', 'Jagiellonia Białystok'),
 (2033, 'S.C. Olhanense', 'S.C. Olhanense'),
 (2182, 'Lech Poznań', 'Lech Poznań'),
 (2183, 'P. Warszawa', 'P. Warszawa'),
 (2186, 'Cracovia', 'Cracovia'),
 (4049, 'Tubize', 'Tubize'),
 (4064, 'Feirense', 'Feirense'),
 (4087, 'Évian Thonon Gaillard FC', 'Évian Thonon Gaillard FC')]

In [14]:
%%sql

SELECT
    team_api_id,
    team_long_name,
    LAST_VALUE(team_long_name) OVER(ORDER BY team_api_id ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)
FROM team;

 * postgresql://postgres:***@localhost/soccer
299 rows affected.

[(1601, 'Ruch Chorzów', 'Royal Excel Mouscron'),
 (1773, 'Oud-Heverlee Leuven', 'Royal Excel Mouscron'),
 (1957, 'Jagiellonia Białystok', 'Royal Excel Mouscron'),
 (2033, 'S.C. Olhanense', 'Royal Excel Mouscron'),
 (2182, 'Lech Poznań', 'Royal Excel Mouscron'),
 (2183, 'P. Warszawa', 'Royal Excel Mouscron'),
 (2186, 'Cracovia', 'Royal Excel Mouscron'),
 (4049, 'Tubize', 'Royal Excel Mouscron'),
 (4064, 'Feirense', 'Royal Excel Mouscron'),
 (4087, 'Évian Thonon Gaillard FC', 'Royal Excel Mouscron'),
 (4170, "US Boulogne Cote D'Opale", 'Royal Excel Mouscron'),
 (6269, 'Novara', 'Royal Excel Mouscron'),
 (6351, 'KAS Eupen', 'Royal Excel Mouscron'),
 (6367, 'Uniao da Madeira', 'Royal Excel Mouscron'),
 (6391, 'GFC Ajaccio', 'Royal Excel Mouscron'),
 (6403, 'FC Paços de Ferreira', 'Royal Excel Mouscron'),
 (6413, 'PEC Zwolle', 'Royal Excel Mouscron'),
 (6421, 'Leixões SC', 'Royal Excel Mouscron'),
 (6433, 'Go Ahead Eagles', 'Royal Excel Mouscron'),
 (6493, 'AC Bellinzona', 'Royal Excel Mouscron'),
 (6547, 'FC Penafiel', 'Royal Excel Mouscron'),
 (6601, 'FC Volendam', 'Royal Excel Mouscron'),
 (6631, 'FC Dordrecht', 'Royal Excel Mouscron'),
 (7730, 'FC Lausanne-Sports', 'Royal Excel Mouscron'),
 (7788, 'SC Cambuur', 'Royal Excel Mouscron'),
 (7794, 'SC Bastia', 'Royal Excel Mouscron'),
 (7819, 'SM Caen', 'Royal Excel Mouscron'),
 (7841, 'Rio Ave FC', 'Royal Excel Mouscron'),
 (7842, 'Estoril Praia', 'Royal Excel Mouscron'),
 (7844, 'Vitória Guimarães', 'Royal Excel Mouscron'),
 (7869, 'Córdoba CF', 'Royal Excel Mouscron'),
 (7878, 'Granada CF', 'Royal Excel Mouscron'),
 (7896, 'Lugano', 'Royal Excel Mouscron'),
 (7943, 'Sassuolo', 'Royal Excel Mouscron'),
 (7947, 'FCV Dender EH', 'Royal Excel Mouscron'),
 (7955, 'Neuchâtel Xamax', 'Royal Excel Mouscron'),
 (7992, 'Trofense', 'Royal Excel Mouscron'),
 (8019, 'Górnik Łęczna', 'Royal Excel Mouscron'),
 (8020, 'Polonia Bytom', 'Royal Excel Mouscron'),
 (8021, 'Zagłębie Lubin', 'Royal Excel Mouscron'),
 (8023, 'Pogoń Szczecin', 'Royal Excel Mouscron'),
 (8024, 'Widzew Łódź', 'Royal Excel Mouscron'),
 (8025, 'Śląsk Wrocław', 'Royal Excel Mouscron'),
 (8027, 'Zawisza Bydgoszcz', 'Royal Excel Mouscron'),
 (8028, 'Piast Gliwice', 'Royal Excel Mouscron'),
 (8030, 'Lechia Gdańsk', 'Royal Excel Mouscron'),
 (8031, 'Polonia Bytom', 'Royal Excel Mouscron'),
 (8033, 'Podbeskidzie Bielsko-Biała', 'Royal Excel Mouscron'),
 (8066, 'Inverness Caledonian Thistle', 'Royal Excel Mouscron'),
 (8121, 'Angers SCO', 'Royal Excel Mouscron'),
 (8152, 'FC St. Pauli', 'Royal Excel Mouscron'),
 (8165, '1. FC Nürnberg', 'Royal Excel Mouscron'),
 (8177, 'Hertha BSC Berlin', 'Royal Excel Mouscron'),
 (8178, 'Bayer 04 Leverkusen', 'Royal Excel Mouscron'),
 (8191, 'Burnley', 'Royal Excel Mouscron'),
 (8194, 'Fortuna Düsseldorf', 'Royal Excel Mouscron'),
 (8197, 'Leicester City', 'Royal Excel Mouscron'),
 (8203, 'KV Mechelen', 'Royal Excel Mouscron'),
 (8226, 'TSG 1899 Hoffenheim', 'Royal Excel Mouscron'),
 (8234, 'FC Ingolstadt 04', 'Royal Excel Mouscron'),
 (8242, 'Odra Wodzisław', 'Royal Excel Mouscron'),
 (8244, 'Widzew Łódź', 'Royal Excel Mouscron'),
 (8245, 'Korona Kielce', 'Royal Excel Mouscron'),
 (8262, 'SV Darmstadt 98', 'Royal Excel Mouscron'),
 (8277, 'Vitesse', 'Royal Excel Mouscron'),
 (8284, 'Dundee FC', 'Royal Excel Mouscron'),
 (8295, 'Karlsruher SC', 'Royal Excel Mouscron'),
 (8302, 'Sevilla FC', 'Royal Excel Mouscron'),
 (8305, 'Getafe CF', 'Royal Excel Mouscron'),
 (8306, 'UD Las Palmas', 'Royal Excel Mouscron'),
 (8315, 'Athletic Club de Bilbao', 'Royal Excel Mouscron'),
 (8322, 'Arka Gdynia', 'Royal Excel Mouscron'),
 (8342, 'Club Brugge KV', 'Royal Excel Mouscron'),
 (8344, 'Cardiff City', 'Royal Excel Mouscron'),
 (8348, 'Moreirense FC', 'Royal Excel Mouscron'),
 (8350, '1. FC Kaiserslautern', 'Royal Excel Mouscron'),
 (8357, 'SpVgg Greuther Fürth', 'Royal Excel Mouscron'),
 (8358, 'SC Freiburg', 'Royal Excel Mouscron'),
 (8370, 'Rayo Vallecano', 'Royal Excel Mouscron'),
 (8371, 'CA Osasuna', 'Royal Excel Mouscron'),
 (8372, 'SD Eibar', 'Royal Excel Mouscron'),
 (8388, 'CD Numancia', 'Royal Excel Mouscron'),
 (8394, 'Real Zaragoza', 'Royal Excel Mouscron'),
 (8398, 'FC Energie Cottbus', 'Royal Excel Mouscron'),
 (8406, 'FC Augsburg', 'Royal Excel Mouscron'),
 (8426, 'Partick Thistle F.C.', 'Royal Excel Mouscron'),
 (8429, 'Hamilton Academical FC', 'Royal Excel Mouscron'),
 (8455, 'Chelsea', 'Royal Excel Mouscron'),
 (8456, 'Manchester City', 'Royal Excel Mouscron'),
 (8457, 'Dunfermline Athletic', 'Royal Excel Mouscron'),
 (8460, 'SC Paderborn 07', 'Royal Excel Mouscron'),
 (8462, 'Portsmouth', 'Royal Excel Mouscron'),
 (8464, 'N.E.C.', 'Royal Excel Mouscron'),
 (8466, 'Southampton', 'Royal Excel Mouscron'),
 (8467, 'St. Johnstone FC', 'Royal Excel Mouscron'),
 (8472, 'Sunderland', 'Royal Excel Mouscron'),
 (8475, 'Waasland-Beveren', 'Royal Excel Mouscron'),
 (8479, 'RC Recreativo', 'Royal Excel Mouscron'),
 (8481, 'AS Nancy-Lorraine', 'Royal Excel Mouscron'),
 (8483, 'Blackpool', 'Royal Excel Mouscron'),
 (8485, 'Aberdeen', 'Royal Excel Mouscron'),
 (8521, 'Stade Brestois 29', 'Royal Excel Mouscron'),
 (8524, 'Atalanta', 'Royal Excel Mouscron'),
 (8525, 'Willem II', 'Royal Excel Mouscron'),
 (8526, 'De Graafschap', 'Royal Excel Mouscron'),
 (8528, 'Wigan Athletic', 'Royal Excel Mouscron'),
 (8529, 'Cagliari', 'Royal Excel Mouscron'),
 (8530, 'Catania', 'Royal Excel Mouscron'),
 (8533, 'Chievo Verona', 'Royal Excel Mouscron'),
 (8534, 'Empoli', 'Royal Excel Mouscron'),
 (8535, 'Fiorentina', 'Royal Excel Mouscron'),
 (8537, 'Livorno', 'Royal Excel Mouscron'),
 (8540, 'Palermo', 'Royal Excel Mouscron'),
 (8543, 'Lazio', 'Royal Excel Mouscron'),
 (8548, 'Rangers', 'Royal Excel Mouscron'),
 (8549, 'Middlesbrough', 'Royal Excel Mouscron'),
 (8550, 'FC Metz', 'Royal Excel Mouscron'),
 (8551, 'Siena', 'Royal Excel Mouscron'),
 (8558, 'RCD Espanyol', 'Royal Excel Mouscron'),
 (8559, 'Bolton Wanderers', 'Royal Excel Mouscron'),
 (8560, 'Real Sociedad', 'Royal Excel Mouscron'),
 (8564, 'Milan', 'Royal Excel Mouscron'),
 (8569, 'GKS Bełchatów', 'Royal Excel Mouscron'),
 (8571, 'KV Kortrijk', 'Royal Excel Mouscron'),
 (8573, 'KV Oostende', 'Royal Excel Mouscron'),
 (8576, 'AC Ajaccio', 'Royal Excel Mouscron'),
 (8581, 'Levante UD', 'Royal Excel Mouscron'),
 (8583, 'AJ Auxerre', 'Royal Excel Mouscron'),
 (8586, 'Tottenham Hotspur', 'Royal Excel Mouscron'),
 (8588, 'RC Lens', 'Royal Excel Mouscron'),
 (8592, 'Olympique de Marseille', 'Royal Excel Mouscron'),
 (8593, 'Ajax', 'Royal Excel Mouscron'),
 (8596, 'Falkirk', 'Royal Excel Mouscron'),
 (8597, 'Kilmarnock', 'Royal Excel Mouscron'),
 (8600, 'Udinese', 'Royal Excel Mouscron'),
 (8602, 'Wolverhampton Wanderers', 'Royal Excel Mouscron'),
 (8603, 'Real Betis Balompié', 'Royal Excel Mouscron'),
 (8611, 'FC Twente', 'Royal Excel Mouscron'),
 (8613, 'Boavista FC', 'Royal Excel Mouscron'),
 (8614, 'Sparta Rotterdam', 'Royal Excel Mouscron'),
 (8633, 'Real Madrid CF', 'Royal Excel Mouscron'),
 (8634, 'FC Barcelona', 'Royal Excel Mouscron'),
 (8635, 'RSC Anderlecht', 'Royal Excel Mouscron'),
 (8636, 'Inter', 'Royal Excel Mouscron'),
 (8639, 'LOSC Lille', 'Royal Excel Mouscron'),
 (8640, 'PSV', 'Royal Excel Mouscron'),
 (8649, 'Ross County FC', 'Royal Excel Mouscron'),
 (8650, 'Liverpool', 'Royal Excel Mouscron'),
 (8654, 'West Ham United', 'Royal Excel Mouscron'),
 (8655, 'Blackburn Rovers', 'Royal Excel Mouscron'),
 (8658, 'Birmingham City', 'Royal Excel Mouscron'),
 (8659, 'West Bromwich Albion', 'Royal Excel Mouscron'),
 (8661, 'RCD Mallorca', 'Royal Excel Mouscron'),
 (8667, 'Hull City', 'Royal Excel Mouscron'),
 (8668, 'Everton', 'Royal Excel Mouscron'),
 (8673, 'Legia Warszawa', 'Royal Excel Mouscron'),
 (8674, 'FC Groningen', 'Royal Excel Mouscron'),
 (8678, 'Bournemouth', 'Royal Excel Mouscron'),
 (8682, 'Le Mans FC', 'Royal Excel Mouscron'),
 (8686, 'Roma', 'Royal Excel Mouscron'),
 (8689, 'FC Lorient', 'Royal Excel Mouscron'),
 (8690, 'Reggio Calabria', 'Royal Excel Mouscron'),
 (8696, 'Racing Santander', 'Royal Excel Mouscron'),
 (8697, 'SV Werder Bremen', 'Royal Excel Mouscron'),
 (8721, 'VfL Wolfsburg', 'Royal Excel Mouscron'),
 (8722, '1. FC Köln', 'Royal Excel Mouscron'),
 (9746, 'Le Havre AC', 'Royal Excel Mouscron'),
 (9747, 'En Avant de Guingamp', 'Royal Excel Mouscron'),
 (9748, 'Olympique Lyonnais', 'Royal Excel Mouscron'),
 (9761, 'NAC Breda', 'Royal Excel Mouscron'),
 (9764, 'Gil Vicente FC', 'Royal Excel Mouscron'),
 (9765, 'Portimonense', 'Royal Excel Mouscron'),
 (9768, 'Sporting CP', 'Royal Excel Mouscron'),
 (9771, 'União de Leiria, SAD', 'Royal Excel Mouscron'),
 (9772, 'SL Benfica', 'Royal Excel Mouscron'),
 (9773, 'FC Porto', 'Royal Excel Mouscron'),
 (9776, 'Eintracht Braunschweig', 'Royal Excel Mouscron'),
 (9777, 'Servette FC', 'Royal Excel Mouscron'),
 (9783, 'RC Deportivo de La Coruña', 'Royal Excel Mouscron'),
 (9788, 'Borussia Mönchengladbach', 'Royal Excel Mouscron'),
 (9789, 'Borussia Dortmund', 'Royal Excel Mouscron'),
 (9790, 'Hamburger SV', 'Royal Excel Mouscron'),
 (9791, 'Heracles Almelo', 'Royal Excel Mouscron'),
 (9798, 'Reading', 'Royal Excel Mouscron'),
 (9800, 'St. Mirren', 'Royal Excel Mouscron'),
 (9803, 'Roda JC Kerkrade', 'Royal Excel Mouscron'),
 (9804, 'Torino', 'Royal Excel Mouscron'),
 (9807, 'CF Os Belenenses', 'Royal Excel Mouscron'),
 (9809, 'Naval 1° de Maio', 'Royal Excel Mouscron'),
 (9810, 'Eintracht Frankfurt', 'Royal Excel Mouscron'),
 (9817, 'Watford', 'Royal Excel Mouscron'),
 (9823, 'FC Bayern Munich', 'Royal Excel Mouscron'),
 (9824, 'FC Vaduz', 'Royal Excel Mouscron'),
 (9825, 'Arsenal', 'Royal Excel Mouscron'),
 (9826, 'Crystal Palace', 'Royal Excel Mouscron'),
 (9827, 'Girondins de Bordeaux', 'Royal Excel Mouscron'),
 (9829, 'AS Monaco', 'Royal Excel Mouscron'),
 (9830, 'FC Nantes', 'Royal Excel Mouscron'),
 (9831, 'OGC Nice', 'Royal Excel Mouscron'),
 (9836, 'Dijon FCO', 'Royal Excel Mouscron'),
 (9837, 'Stade de Reims', 'Royal Excel Mouscron'),
 (9839, 'VVV-Venlo', 'Royal Excel Mouscron'),
 (9847, 'Paris Saint-Germain', 'Royal Excel Mouscron'),
 (9850, 'Norwich City', 'Royal Excel Mouscron'),
 (9851, 'Stade Rennais FC', 'Royal Excel Mouscron'),
 (9853, 'AS Saint-Étienne', 'Royal Excel Mouscron'),
 (9855, 'Grenoble Foot 38', 'Royal Excel Mouscron'),
 (9857, 'Bologna', 'Royal Excel Mouscron'),
 (9858, 'Brescia', 'Royal Excel Mouscron'),
 (9860, 'Heart of Midlothian', 'Royal Excel Mouscron'),
 (9864, 'Málaga CF', 'Royal Excel Mouscron'),
 (9865, 'UD Almería', 'Royal Excel Mouscron'),
 (9867, 'CD Tenerife', 'Royal Excel Mouscron'),
 (9868, 'Xerez Club Deportivo', 'Royal Excel Mouscron'),
 (9869, 'Real Sporting de Gijón', 'Royal Excel Mouscron'),
 (9873, 'Valenciennes FC', 'Royal Excel Mouscron'),
 (9874, 'FC Sochaux-Montbéliard', 'Royal Excel Mouscron'),
 (9875, 'Napoli', 'Royal Excel Mouscron'),
 (9876, 'Hellas Verona', 'Royal Excel Mouscron'),
 (9878, 'Pescara', 'Royal Excel Mouscron'),
 (9879, 'Fulham', 'Royal Excel Mouscron'),
 (9880, 'Cesena', 'Royal Excel Mouscron'),
 (9882, 'Sampdoria', 'Royal Excel Mouscron'),
 (9885, 'Juventus', 'Royal Excel Mouscron'),
 (9888, 'Lecce', 'Royal Excel Mouscron'),
 (9891, 'Frosinone', 'Royal Excel Mouscron'),
 (9904, 'Hannover 96', 'Royal Excel Mouscron'),
 (9905, '1. FSV Mainz 05', 'Royal Excel Mouscron'),
 (9906, 'Atlético Madrid', 'Royal Excel Mouscron'),
 (9908, 'FC Utrecht', 'Royal Excel Mouscron'),
 (9910, 'RC Celta de Vigo', 'Royal Excel Mouscron'),
 (9911, 'VfL Bochum', 'Royal Excel Mouscron'),
 (9912, 'DSC Arminia Bielefeld', 'Royal Excel Mouscron'),
 (9925, 'Celtic', 'Royal Excel Mouscron'),
 (9927, 'Motherwell', 'Royal Excel Mouscron'),
 (9930, 'FC Aarau', 'Royal Excel Mouscron'),
 (9931, 'FC Basel', 'Royal Excel Mouscron'),
 (9938, 'Dundee United', 'Royal Excel Mouscron'),
 (9941, 'Toulouse FC', 'Royal Excel Mouscron'),
 (9956, 'Grasshopper Club Zürich', 'Royal Excel Mouscron'),
 (9976, 'Bari', 'Royal Excel Mouscron'),
 (9984, 'KSV Cercle Brugge', 'Royal Excel Mouscron'),
 (9985, 'Standard de Liège', 'Royal Excel Mouscron'),
 (9986, 'Sporting Charleroi', 'Royal Excel Mouscron'),
 (9987, 'KRC Genk', 'Royal Excel Mouscron'),
 (9989, 'Lierse SK', 'Royal Excel Mouscron'),
 (9991, 'KAA Gent', 'Royal Excel Mouscron'),
 (9993, 'Beerschot AC', 'Royal Excel Mouscron'),
 (9994, 'Sporting Lokeren', 'Royal Excel Mouscron'),
 (9996, 'Royal Excel Mouscron', 'Royal Excel Mouscron'),
 (9997, 'Sint-Truidense VV', 'Royal Excel Mouscron'),
 (9998, 'RAEC Mons', 'Royal Excel Mouscron'),
 (9999, 'KSV Roeselare', 'Royal Excel Mouscron'),
 (10000, 'SV Zulte-Waregem', 'Royal Excel Mouscron'),
 (10001, 'KVC Westerlo', 'Royal Excel Mouscron'),
 (10003, 'Swansea City', 'Royal Excel Mouscron'),
 (10167, 'Parma', 'Royal Excel Mouscron'),
 (10172, 'Queens Park Rangers', 'Royal Excel Mouscron'),
 (10179, 'FC Sion', 'Royal Excel Mouscron'),
 (10189, 'FC Schalke 04', 'Royal Excel Mouscron'),
 (10190, 'FC St. Gallen', 'Royal Excel Mouscron'),
 (10191, 'FC Thun', 'Royal Excel Mouscron'),
 (10192, 'BSC Young Boys', 'Royal Excel Mouscron'),
 (10194, 'Stoke City', 'Royal Excel Mouscron'),
 (10199, 'FC Luzern', 'Royal Excel Mouscron'),
 (10205, 'Villarreal CF', 'Royal Excel Mouscron'),
 (10211, 'SC Beira Mar', 'Royal Excel Mouscron'),
 (10212, 'CS Marítimo', 'Royal Excel Mouscron'),
 (10213, 'Amadora', 'Royal Excel Mouscron'),
 (10214, 'CD Nacional', 'Royal Excel Mouscron'),
 (10215, 'Académica de Coimbra', 'Royal Excel Mouscron'),
 (10217, 'ADO Den Haag', 'Royal Excel Mouscron'),
 (10218, 'Excelsior', 'Royal Excel Mouscron'),
 (10219, 'RKC Waalwijk', 'Royal Excel Mouscron'),
 (10228, 'SC Heerenveen', 'Royal Excel Mouscron'),
 (10229, 'AZ', 'Royal Excel Mouscron'),
 (10233, 'Genoa', 'Royal Excel Mouscron'),
 (10235, 'Feyenoord', 'Royal Excel Mouscron'),
 (10238, 'Vitória Setúbal', 'Royal Excel Mouscron'),
 (10242, 'ES Troyes AC', 'Royal Excel Mouscron'),
 (10243, 'FC Zürich', 'Royal Excel Mouscron'),
 (10249, 'Montpellier Hérault SC', 'Royal Excel Mouscron'),
 (10251, 'Hibernian', 'Royal Excel Mouscron'),
 (10252, 'Aston Villa', 'Royal Excel Mouscron'),
 (10260, 'Manchester United', 'Royal Excel Mouscron'),
 (10261, 'Newcastle United', 'Royal Excel Mouscron'),
 (10264, 'SC Braga', 'Royal Excel Mouscron'),
 (10265, 'Wisła Kraków', 'Royal Excel Mouscron'),
 (10267, 'Valencia CF', 'Royal Excel Mouscron'),
 (10268, 'Elche CF', 'Royal Excel Mouscron'),
 (10269, 'VfB Stuttgart', 'Royal Excel Mouscron'),
 (10278, 'Hércules Club de Fútbol', 'Royal Excel Mouscron'),
 (10281, 'Real Valladolid', 'Royal Excel Mouscron'),
 (108893, 'AC Arles-Avignon', 'Royal Excel Mouscron'),
 (158085, 'FC Arouca', 'Royal Excel Mouscron'),
 (177361, 'Termalica Bruk-Bet Nieciecza', 'Royal Excel Mouscron'),
 (188163, 'Tondela', 'Royal Excel Mouscron'),
 (208931, 'Carpi', 'Royal Excel Mouscron'),
 (274581, 'Royal Excel Mouscron', 'Royal Excel Mouscron')]

In [15]:
%%sql
WITH home_total_goals AS(
SELECT
    home_team_api_id AS id,
    SUM(home_team_goal) AS total
FROM match
GROUP BY home_team_api_id
),
away_total_goals AS(
SELECT
    away_team_api_id AS id,
    SUM(away_team_goal) AS total
FROM match
GROUP BY away_team_api_id
)

SELECT
    t.team_long_name,
    h.total+a.total AS "Total Goals",
    NTILE(4) OVER(ORDER BY h.total+a.total DESC) AS page_num
FROM team AS t
    LEFT JOIN home_total_goals AS h
     ON t.team_api_id = h.id
    LEFT JOIN away_total_goals AS a
     ON t.team_api_id = a.id
ORDER BY team_long_name
LIMIT 10;

 * postgresql://postgres:***@localhost/soccer
10 rows affected.

[('1. FC Kaiserslautern', 72, 4),
 ('1. FC Köln', 226, 2),
 ('1. FC Nürnberg', 193, 3),
 ('1. FSV Mainz 05', 320, 2),
 ('Aberdeen', 365, 1),
 ('AC Ajaccio', 116, 3),
 ('AC Arles-Avignon', 21, 4),
 ('AC Bellinzona', 128, 3),
 ('Académica de Coimbra', 240, 2),
 ('ADO Den Haag', 366, 1)]

In [16]:
%%sql
WITH home_total_goals AS(
SELECT
    home_team_api_id AS id,
    SUM(home_team_goal) AS total
FROM match
GROUP BY home_team_api_id
),
away_total_goals AS(
SELECT
    away_team_api_id AS id,
    SUM(away_team_goal) AS total
FROM match
GROUP BY away_team_api_id
),
ntiled AS (
SELECT
    t.team_long_name,
    h.total+a.total AS "Total Goals",
    NTILE(4) OVER(ORDER BY h.total+a.total DESC) AS page_num
FROM team AS t
    LEFT JOIN home_total_goals AS h
     ON t.team_api_id = h.id
    LEFT JOIN away_total_goals AS a
     ON t.team_api_id = a.id
)


SELECT
    page_num,
    SUM("Total Goals") AS "page_sum_goals",
    ROUND(AVG("Total Goals"),2) AS "page_avg_goals"
FROM ntiled
GROUP BY page_num;

 * postgresql://postgres:***@localhost/soccer
4 rows affected.

[(1, Decimal('35414'), Decimal('472.19')),
 (2, Decimal('21039'), Decimal('280.52')),
 (3, Decimal('10608'), Decimal('141.44')),
 (4, Decimal('3226'), Decimal('43.59'))]