In [1]:
%load_ext sql
%sql postgresql://postgres:123@localhost/soccer

In [2]:
%%sql
-- Ülkeler ve sezonlara göre atılan gol sayıları
SELECT
    c.name AS country,
    season AS season,
    SUM(home_team_goal+away_team_goal) AS "Total Goal"
FROM match AS m
    INNER JOIN country AS c
        ON c.id = m.country_id
GROUP BY c.name,season
ORDER BY c.name,season
LIMIT 20;

 * postgresql://postgres:***@localhost/soccer
20 rows affected.

[('Belgium', '2008/2009', 855),
 ('Belgium', '2009/2010', 565),
 ('Belgium', '2010/2011', 635),
 ('Belgium', '2011/2012', 691),
 ('Belgium', '2012/2013', 703),
 ('Belgium', '2013/2014', 30),
 ('Belgium', '2014/2015', 668),
 ('Belgium', '2015/2016', 694),
 ('England', '2008/2009', 942),
 ('England', '2009/2010', 1053),
 ('England', '2010/2011', 1063),
 ('England', '2011/2012', 1066),
 ('England', '2012/2013', 1063),
 ('England', '2013/2014', 1052),
 ('England', '2014/2015', 975),
 ('England', '2015/2016', 1026),
 ('France', '2008/2009', 858),
 ('France', '2009/2010', 916),
 ('France', '2010/2011', 890),
 ('France', '2011/2012', 956)]

In [3]:
%%sql
-- Ülkeler ve sezonlara göre atılan gol sayılarının daha sunulabilir ve taranabilir hali
CREATE EXTENSION IF NOT EXISTS tablefunc;
SELECT * FROM CROSSTAB($$
SELECT
    c.name AS country,
    season AS season,
    SUM(home_team_goal+away_team_goal) :: INTEGER AS "Total Goal"
FROM match AS m
    INNER JOIN country AS c
        ON c.id = m.country_id
GROUP BY c.name,season
ORDER BY c.name,season;
$$) AS ct (country TEXT,
           "2008/2009" INTEGER,
           "2009/2010" INTEGER,
           "2010/2011" INTEGER,
           "2011/2012" INTEGER,
           "2012/2013" INTEGER,
           "2013/2014" INTEGER,
           "2014/2015" INTEGER,
           "2015/2016" INTEGER);

 * postgresql://postgres:***@localhost/soccer
Done.
11 rows affected.

[('Belgium', 855, 565, 635, 691, 703, 30, 668, 694),
 ('England', 942, 1053, 1063, 1066, 1063, 1052, 975, 1026),
 ('France', 858, 916, 890, 956, 967, 933, 947, 960),
 ('Germany', 894, 866, 894, 875, 898, 967, 843, 866),
 ('Italy', 988, 992, 955, 925, 1003, 1035, 1018, 979),
 ('Netherlands', 870, 892, 987, 997, 964, 978, 942, 912),
 ('Poland', 524, 532, 578, 527, 598, 634, 628, 635),
 ('Portugal', 552, 601, 584, 634, 667, 569, 763, 831),
 ('Scotland', 548, 585, 584, 601, 623, 626, 587, 650),
 ('Spain', 1101, 1031, 1042, 1050, 1091, 1045, 1009, 1043),
 ('Switzerland', 540, 599, 537, 425, 462, 520, 517, 566)]

In [4]:
%%sql
-- Ülkeler ve sezonlara göre atılan gol sayıları GROUP BY
SELECT
    c.name AS country,
    season AS season,
    SUM(home_team_goal+away_team_goal) AS "Total Goal"
FROM match AS m
    INNER JOIN country AS c
        ON c.id = m.country_id
GROUP BY c.name,season
ORDER BY c.name,season
LIMIT 20;

 * postgresql://postgres:***@localhost/soccer
20 rows affected.

[('Belgium', '2008/2009', 855),
 ('Belgium', '2009/2010', 565),
 ('Belgium', '2010/2011', 635),
 ('Belgium', '2011/2012', 691),
 ('Belgium', '2012/2013', 703),
 ('Belgium', '2013/2014', 30),
 ('Belgium', '2014/2015', 668),
 ('Belgium', '2015/2016', 694),
 ('England', '2008/2009', 942),
 ('England', '2009/2010', 1053),
 ('England', '2010/2011', 1063),
 ('England', '2011/2012', 1066),
 ('England', '2012/2013', 1063),
 ('England', '2013/2014', 1052),
 ('England', '2014/2015', 975),
 ('England', '2015/2016', 1026),
 ('France', '2008/2009', 858),
 ('France', '2009/2010', 916),
 ('France', '2010/2011', 890),
 ('France', '2011/2012', 956)]

In [5]:
%%sql
-- -- Ülkeler ve sezonlara göre atılan gol sayıları GROUP BY ROLLUP
SELECT
    c.name AS country,
    season AS season,
    SUM(home_team_goal+away_team_goal) AS "Total Goal"
FROM match AS m
    INNER JOIN country AS c
        ON c.id = m.country_id
GROUP BY ROLLUP(c.name,season)
ORDER BY c.name,season
LIMIT 20;

 * postgresql://postgres:***@localhost/soccer
20 rows affected.

[('Belgium', '2008/2009', 855),
 ('Belgium', '2009/2010', 565),
 ('Belgium', '2010/2011', 635),
 ('Belgium', '2011/2012', 691),
 ('Belgium', '2012/2013', 703),
 ('Belgium', '2013/2014', 30),
 ('Belgium', '2014/2015', 668),
 ('Belgium', '2015/2016', 694),
 ('Belgium', None, 4841),
 ('England', '2008/2009', 942),
 ('England', '2009/2010', 1053),
 ('England', '2010/2011', 1063),
 ('England', '2011/2012', 1066),
 ('England', '2012/2013', 1063),
 ('England', '2013/2014', 1052),
 ('England', '2014/2015', 975),
 ('England', '2015/2016', 1026),
 ('England', None, 8240),
 ('France', '2008/2009', 858),
 ('France', '2009/2010', 916)]

In [6]:
%%sql
-- -- Ülkeler ve sezonlara göre atılan gol sayıları GROUP BY ROLLUP / COALESCE
SELECT
    COALESCE(c.name, 'ALL COUNTRIES') AS country,
    COALESCE(season ,'ALL SEASONS') AS season,
    SUM(home_team_goal+away_team_goal) AS "Total Goal"
FROM match AS m
    INNER JOIN country AS c
        ON c.id = m.country_id
GROUP BY ROLLUP(c.name,season)
ORDER BY c.name,season
LIMIT 20;

 * postgresql://postgres:***@localhost/soccer
20 rows affected.

[('Belgium', '2008/2009', 855),
 ('Belgium', '2009/2010', 565),
 ('Belgium', '2010/2011', 635),
 ('Belgium', '2011/2012', 691),
 ('Belgium', '2012/2013', 703),
 ('Belgium', '2013/2014', 30),
 ('Belgium', '2014/2015', 668),
 ('Belgium', '2015/2016', 694),
 ('Belgium', 'ALL SEASONS', 4841),
 ('England', '2008/2009', 942),
 ('England', '2009/2010', 1053),
 ('England', '2010/2011', 1063),
 ('England', '2011/2012', 1066),
 ('England', '2012/2013', 1063),
 ('England', '2013/2014', 1052),
 ('England', '2014/2015', 975),
 ('England', '2015/2016', 1026),
 ('England', 'ALL SEASONS', 8240),
 ('France', '2008/2009', 858),
 ('France', '2009/2010', 916)]

In [7]:
%%sql
-- -- Ülkeler ve sezonlara göre atılan gol sayıları GROUP BY CUBE
SELECT
    c.name AS country,
    season AS season,
    SUM(home_team_goal+away_team_goal) AS "Total Goal"
FROM match AS m
    INNER JOIN country AS c
        ON c.id = m.country_id
GROUP BY CUBE(c.name,season)
ORDER BY c.name,season
LIMIT 20;

 * postgresql://postgres:***@localhost/soccer
20 rows affected.

[('Belgium', '2008/2009', 855),
 ('Belgium', '2009/2010', 565),
 ('Belgium', '2010/2011', 635),
 ('Belgium', '2011/2012', 691),
 ('Belgium', '2012/2013', 703),
 ('Belgium', '2013/2014', 30),
 ('Belgium', '2014/2015', 668),
 ('Belgium', '2015/2016', 694),
 ('Belgium', None, 4841),
 ('England', '2008/2009', 942),
 ('England', '2009/2010', 1053),
 ('England', '2010/2011', 1063),
 ('England', '2011/2012', 1066),
 ('England', '2012/2013', 1063),
 ('England', '2013/2014', 1052),
 ('England', '2014/2015', 975),
 ('England', '2015/2016', 1026),
 ('England', None, 8240),
 ('France', '2008/2009', 858),
 ('France', '2009/2010', 916)]

In [8]:
%%sql
-- -- Ülkeler ve sezonlara göre atılan gol sayıları GROUP BY CUBE / COALESCE
SELECT
    COALESCE(c.name, 'ALL COUNTRIES') AS country,
    COALESCE(season ,'ALL SEASONS') AS season,
    SUM(home_team_goal+away_team_goal) AS "Total Goal"
FROM match AS m
    INNER JOIN country AS c
        ON c.id = m.country_id
GROUP BY CUBE(c.name,season)
ORDER BY c.name,season
LIMIT 20;

 * postgresql://postgres:***@localhost/soccer
20 rows affected.

[('Belgium', '2008/2009', 855),
 ('Belgium', '2009/2010', 565),
 ('Belgium', '2010/2011', 635),
 ('Belgium', '2011/2012', 691),
 ('Belgium', '2012/2013', 703),
 ('Belgium', '2013/2014', 30),
 ('Belgium', '2014/2015', 668),
 ('Belgium', '2015/2016', 694),
 ('Belgium', 'ALL SEASONS', 4841),
 ('England', '2008/2009', 942),
 ('England', '2009/2010', 1053),
 ('England', '2010/2011', 1063),
 ('England', '2011/2012', 1066),
 ('England', '2012/2013', 1063),
 ('England', '2013/2014', 1052),
 ('England', '2014/2015', 975),
 ('England', '2015/2016', 1026),
 ('England', 'ALL SEASONS', 8240),
 ('France', '2008/2009', 858),
 ('France', '2009/2010', 916)]