In [1]:
%load_ext sql
%sql postgresql://postgres:123@localhost/soccer

In [2]:
%%sql
-- 2013/2014 sezonunda atılan ortalama gol sayısının 3 katından fazla gol atılan maçların tarihleri ve gol sayıları
SELECT 
    date,
    home_team_goal,
    away_team_goal
FROM  match
WHERE (away_team_goal + home_team_goal) > 
       (SELECT 3 * AVG(away_team_goal + home_team_goal)
        FROM match WHERE season='2013/2014') AND season='2013/2014';

 * postgresql://postgres:***@localhost/soccer
3 rows affected.

[(datetime.date(2013, 12, 14), 6, 3),
 (datetime.date(2014, 3, 22), 3, 6),
 (datetime.date(2013, 10, 30), 7, 3)]

In [3]:
%%sql
-- kendi evinde oynadığı maçlarda 7den fazla gol atan takımlar
SELECT
    team_long_name,
    team_short_name
FROM team
WHERE team_api_id IN
    (SELECT home_team_api_id 
       FROM match
       WHERE home_team_goal >= 8);

 * postgresql://postgres:***@localhost/soccer
10 rows affected.

[('Manchester United', 'MUN'),
 ('Tottenham Hotspur', 'TOT'),
 ('Chelsea', 'CHE'),
 ('Southampton', 'SOU'),
 ('FC Bayern Munich', 'BMU'),
 ('PSV', 'PSV'),
 ('SL Benfica', 'BEN'),
 ('Celtic', 'CEL'),
 ('Real Madrid CF', 'REA'),
 ('FC Barcelona', 'BAR')]

In [4]:
%%sql
-- 9dan fazla gol atılan maçların oynandığı ülke,tarih ve gol sayılar
SELECT
    country,
    date,
    home_team_goal,
    away_team_goal
FROM 
    (SELECT c.name AS country, 
            m.date, 
            m.home_team_goal, 
            m.away_team_goal,
           (m.home_team_goal + m.away_team_goal) AS total_goals
    FROM match AS m
    LEFT JOIN country AS c
    ON m.country_id = c.id) AS sub
WHERE total_goals > 9;

 * postgresql://postgres:***@localhost/soccer
14 rows affected.

[('France', datetime.date(2009, 11, 8), 5, 5),
 ('England', datetime.date(2009, 11, 22), 9, 1),
 ('England', datetime.date(2011, 8, 28), 8, 2),
 ('England', datetime.date(2012, 12, 29), 7, 3),
 ('England', datetime.date(2013, 5, 19), 5, 5),
 ('Germany', datetime.date(2013, 3, 30), 9, 2),
 ('Netherlands', datetime.date(2010, 10, 24), 10, 0),
 ('Netherlands', datetime.date(2011, 11, 6), 6, 4),
 ('Scotland', datetime.date(2010, 5, 5), 6, 6),
 ('Spain', datetime.date(2013, 10, 30), 7, 3),
 ('Spain', datetime.date(2015, 4, 5), 9, 1),
 ('Spain', datetime.date(2015, 5, 23), 7, 3),
 ('Spain', datetime.date(2014, 9, 20), 2, 8),
 ('Spain', datetime.date(2015, 12, 20), 10, 2)]

In [5]:
%%sql
-- 2013/2014 sezonu, liglerin ortalama gol sayılarının genel ortalama ile karşılaştırması
SELECT 
    l.name AS league,
    ROUND(AVG(m.home_team_goal + m.away_team_goal), 2) AS avg_goals,
    (SELECT ROUND(AVG(home_team_goal + away_team_goal), 2) 
     FROM match
     WHERE season = '2013/2014') AS overall_avg
FROM league AS l
LEFT JOIN match AS m
ON l.country_id = m.country_id
WHERE season = '2013/2014'
GROUP BY league;

 * postgresql://postgres:***@localhost/soccer
11 rows affected.

[('Netherlands Eredivisie', Decimal('3.20'), Decimal('2.77')),
 ('Scotland Premier League', Decimal('2.75'), Decimal('2.77')),
 ('Portugal Liga ZON Sagres', Decimal('2.37'), Decimal('2.77')),
 ('England Premier League', Decimal('2.77'), Decimal('2.77')),
 ('Poland Ekstraklasa', Decimal('2.64'), Decimal('2.77')),
 ('Germany 1. Bundesliga', Decimal('3.16'), Decimal('2.77')),
 ('Italy Serie A', Decimal('2.72'), Decimal('2.77')),
 ('Switzerland Super League', Decimal('2.89'), Decimal('2.77')),
 ('Spain LIGA BBVA', Decimal('2.75'), Decimal('2.77')),
 ('France Ligue 1', Decimal('2.46'), Decimal('2.77')),
 ('Belgium Jupiler League', Decimal('2.50'), Decimal('2.77'))]

In [6]:
%%sql
-- 2013/2014 sezonu, liglerin ortalama gol sayılarının genel ortalama ile çıkararak karşılaştırılması
SELECT
    l.name AS league,
    ROUND(AVG(m.home_team_goal + m.away_team_goal),2) AS avg_goals,
    ROUND(AVG(m.home_team_goal + m.away_team_goal) - 
        (SELECT AVG(home_team_goal + away_team_goal)
         FROM match 
         WHERE season = '2013/2014'),2) AS diff
FROM league AS l
LEFT JOIN match AS m
ON l.country_id = m.country_id
WHERE season = '2013/2014'
GROUP BY l.name;

 * postgresql://postgres:***@localhost/soccer
11 rows affected.

[('Netherlands Eredivisie', Decimal('3.20'), Decimal('0.43')),
 ('Scotland Premier League', Decimal('2.75'), Decimal('-0.02')),
 ('Portugal Liga ZON Sagres', Decimal('2.37'), Decimal('-0.40')),
 ('England Premier League', Decimal('2.77'), Decimal('0.00')),
 ('Poland Ekstraklasa', Decimal('2.64'), Decimal('-0.13')),
 ('Germany 1. Bundesliga', Decimal('3.16'), Decimal('0.39')),
 ('Italy Serie A', Decimal('2.72'), Decimal('-0.04')),
 ('Switzerland Super League', Decimal('2.89'), Decimal('0.12')),
 ('Spain LIGA BBVA', Decimal('2.75'), Decimal('-0.02')),
 ('France Ligue 1', Decimal('2.46'), Decimal('-0.31')),
 ('Belgium Jupiler League', Decimal('2.50'), Decimal('-0.27'))]

In [7]:
%%sql
--- her aşamada atılan ortalama gol sayısının bütün ortalama ile karşılaştırılması
SELECT 
    stage,
    ROUND(s.avg_goals,2) AS avg_goal,
    (SELECT AVG(home_team_goal + away_team_goal) FROM match WHERE season = '2012/2013') AS overall_avg
FROM 
    (SELECT
         stage,
         AVG(home_team_goal + away_team_goal) AS avg_goals
     FROM match
     WHERE season = '2012/2013'
     GROUP BY stage) AS s
WHERE 
    s.avg_goals > (SELECT AVG(home_team_goal + away_team_goal) 
                    FROM match WHERE season = '2012/2013');

 * postgresql://postgres:***@localhost/soccer
17 rows affected.

[(4, Decimal('2.80'), Decimal('2.7726993865030675')),
 (10, Decimal('2.96'), Decimal('2.7726993865030675')),
 (38, Decimal('3.17'), Decimal('2.7726993865030675')),
 (6, Decimal('2.78'), Decimal('2.7726993865030675')),
 (12, Decimal('3.23'), Decimal('2.7726993865030675')),
 (36, Decimal('2.90'), Decimal('2.7726993865030675')),
 (31, Decimal('3.06'), Decimal('2.7726993865030675')),
 (30, Decimal('2.87'), Decimal('2.7726993865030675')),
 (21, Decimal('2.90'), Decimal('2.7726993865030675')),
 (3, Decimal('2.83'), Decimal('2.7726993865030675')),
 (17, Decimal('2.85'), Decimal('2.7726993865030675')),
 (20, Decimal('2.96'), Decimal('2.7726993865030675')),
 (33, Decimal('3.10'), Decimal('2.7726993865030675')),
 (27, Decimal('2.80'), Decimal('2.7726993865030675')),
 (23, Decimal('3.01'), Decimal('2.7726993865030675')),
 (8, Decimal('3.09'), Decimal('2.7726993865030675')),
 (11, Decimal('2.92'), Decimal('2.7726993865030675'))]